            <div class="container col-xl-10 col-xxl-8 px-4">
                <div class="row align-items-center g-lg-5 py-5">
                    <div class="col-lg-7 text-center text-lg-start">
                        <h1 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">Tu veux rencontrer les animaux chauds
                            de ton quartier ? 🐱</h1>
                        <br>
                        <p class="col-lg-10 fs-4">Rejoins-nous vite !</p>
                        <br>
                    </div>
                    <div class="col-md-10 mx-auto col-lg-5">
                        <!-- <form method="post" class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="pseudo"
                                    value="${ animal.pseudo }">
                                <label for="floatingInput">Ton pseudo</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="email" class="form-control" id="floatingInput" name="email"
                                    value="${ animal.email }">
                                <label for="floatingInput">Adresse email</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="password" class="form-control" id="floatingPassword" name="password"
                                    value="${ animal.password }">
                                <label for="floatingPassword">Mot de passe secret</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="floatingInput" name="age"
                                    value="${ animal.age }">
                                <label for="floatingInput">Ton âge</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="espece"
                                    value="${ animal.espece }">
                                <label for="floatingInput">Quel animal es-tu ?</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="floatingInput" name="ville.nom"
                                    value="${ animal.ville.nom }">
                                <label for="floatingInput">Quelle ville habites-tu ?</label>
                            </div>

                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Se souvenir de moi
                                </label>
                            </div>
                                <div ngIf="${ erreurs.hasErrors() }" class="alert alert-danger">
                                    <ul>
                                            <li *ngFor="let err of ${ erreurs.allErrors }">${ err.defaultMessage }</li>
                                    </ul>
                                </div>
                            <button class="w-100 btn btn-lg btn-primary" type="submit">J'arrive !</button>
                            <hr class="my-4">
                            <small class="text-body-secondary">En cliquant sur J'arrive, j'accepte les termes et
                                conditions d'utilisation de Stravacat©.</small>
                        </form> -->
                    </div>
                </div>
            </div>