<div class="container col-xl-10 col-xxl-8 px-4">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-5 fw-bold lh-1 text-body-emphasis mb-3">
        Tu veux rencontrer les animaux chauds de ton quartier ? 🐱
      </h1>
      <br />
      <p class="col-lg-10 fs-4">Rejoins-nous vite !</p>
      <br />
    </div>
    <div class="col-md-10 mx-auto col-lg-5">
      <form
        [formGroup]="userForm"
        (ngSubmit)="doOk()"
        method="post"
        class="p-4 p-md-5 border rounded-3 bg-body-tertiary"
      >
        <app-input
          id="pseudo"
          type="text"
          label="Ton pseudo"
          formControlName="pseudo"
          [formControl]="pseudoCtrl"
          message-when-not-valid="Le pseudo est obligatoire"
        ></app-input>
        <app-input
          id="email"
          type="email"
          label="Email"
          formControlName="email"
          [formControl]="emailCtrl"
          message-when-not-valid="Veuillez entrer un email valide"
        ></app-input>
        <app-input
          id="password"
          type="password"
          label="Mot de passe"
          formControlName="password"
          [formControl]="passwordCtrl"
          message-when-not-valid="Le mot de passe est obligatoire"
        ></app-input>
        <app-input
          id="age"
          type="number"
          label="Âge"
          formControlName="age"
          [formControl]="ageCtrl"
          message-when-not-valid="L'âge est obligatoire"
        ></app-input>
        <app-input
          id="espece"
          type="text"
          label="Espèce"
          formControlName="espece"
          [formControl]="especeCtrl"
          message-when-not-valid="L'espèce est obligatoire"
        ></app-input>
        <app-input
          id="ville"
          type="text"
          label="Ville"
          formControlName="ville"
          [formControl]="villeCtrl"
          message-when-not-valid="La ville est obligatoire"
        ></app-input>
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" /> Se souvenir de moi
          </label>
        </div>
        <button
          (click)="sInscrire()"
          class="w-100 btn btn-lg btn-primary"
          type="submit"
        >
          J'arrive !
        </button>
        <hr class="my-4" />
        <small class="text-body-secondary"
          >En cliquant sur J'arrive, j'accepte les termes et conditions
          d'utilisation de Stravacat©.</small
        >
      </form>
    </div>
  </div>
</div>
