<ngb-toast class="toast bg-primary text-light" header="Information" *ngIf="showToast" (hidden)="showToast = false">
{{toastMessage}}
</ngb-toast>
<div class="card m-1" style="height: 400px">
    <div class="card-header justify-content-around align-content-center">
      <strong>Mes derniers parcours </strong>
      <a (click)="parcoursPrecedent()" ngbTooltip="Vers les parcours plus récents" class="btn-primary"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-caret-left"
        >
          <path
            d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"
          ></path></svg></a>
      <a (click)="parcoursSuivant()" ngbTooltip="Vers les parcours plus anciens" class="btn-primary">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          fill="currentColor"
          class="bi bi-caret-right"
        >
          <path
            d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"
          ></path>
        </svg>
      </a>
      <a ngbTooltip="Nouveau parcours" class="btn-primary mx-2" data-bs-toggle="modal"
      data-bs-target="#parcoursModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="#007bff" class="bi bi-plus-square" viewBox="0 0 16 16">
          <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
          <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
        </svg>
      </a>
      <a ngbTooltip="Supprimer ce parcours" class="btn-primary mx-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
          <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"/>
        </svg>
      </a>

    </div>
    <div class="card-body">
        <div id="map" style="height: 320px;"></div>
    </div>
          <!-- Modal -->
          <div
          class="modal fade"
          id="parcoursModal"
          tabindex="-1"
          aria-labelledby="parcoursModalLabel"
          aria-hidden="true"
        >
          <form
            method="post"
            class="modal-dialog"
            [formGroup]="userForm"
          >
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="parcoursModalLabel">
                  Ajouter/Modifier un parcours
                </h1>
                <button
                  type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"
                ></button>
              </div>
              <div class="modal-body">
                <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                  <app-input
                    id="villeParcours"
                    type="text"
                    label="Ville du parcours"
                    formControlName="villeParcours"
                    [formControl]="villeParcoursCtrl"
                    message-when-not-valid="La ville est obligatoire"
                  ></app-input>
                   <app-input
                    id="datePublicationParcours"
                    type="datetime-local"
                    label="Date du parcours"
                    formControlName="datePublicationParcours"
                    [formControl]="datePublicationParcoursCtrl"
                    message-when-not-valid="La date est obligatoire"
                  ></app-input>
                  <div class="form-floating mb-3">
                    <input
                    class="form-control"
                    id="tempsParcours"
                    type="time"
                    step="1"
                    formControlName="tempsParcours"
                    [formControl]="tempsParcoursCtrl"
                    message-when-not-valid="Le temps de parcours est obligatoire"
                    placeholder="tempsParcours"
                    />
                    <label>Temps de parcours (hh:mm:ss)</label>
                  </div>
                  <app-input
                    id="traceGpsParcours"
                    type="text"
                    label="Tracé GPS (format GeoJSON)"
                    formControlName="traceGpsParcours"
                    [formControl]="traceGpsParcoursCtrl"
                    message-when-not-valid="Tracé GPS non valide"
                  ></app-input> 
                </div>
              </div>
              <div class="modal-footer justify-content-between">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-dismiss="modal"
                >
                  Annuler
                </button>
                <button (click)="ajouterOuModifierParcours()"
                  type="submit"
                  class="btn btn-primary"
                  data-bs-dismiss="modal"
                  id="annulerParcoursModal"
                >
                  Enregistrer
                </button>
              </div>
            </div>
          </form>
        </div>
  </div>