<!doctype html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
  </script>
  <div class ="custom-section">
    <hr />
  <p>Liste de mes abonnement 🐵</p>
  <hr />
  </div>
  
  <table class="table table-striped table-bordered table-spacing">
    <thead>
      <tr>
        <th scope="col">Pseudo</th>
        <th scope="col">Age</th>
        <th scope="col">Espèce</th>
        <th scope="col">Ville_id</th>
        <th scope="col">Animal_id</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
  
    <tbody>
      <tr *ngFor="let abonnement of abonnement$ | async | slice:(page-1)*pageSize:page*pageSize">
        <td scope="row">{{ abonnement.pseudo }}</td>
        <td scope="row">{{ abonnement.age }}</td>
        <td scope="row">{{ abonnement.espece }}</td>
        <td scope="row">{{ abonnement.ville ? abonnement.ville.nom  : 'la ville n existe pas' }}</td>
        <td scope="row">{{ abonnement.animal_id }}</td>
        <td>
          <button (click)="modifier(abonnement)" class="btn btn-outline-warning">Modifier</button>
          <button (click)="supprimer(abonnement)" class="btn btn-outline-danger ms-2">Supprimer</button>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-between p-2 p-4 p-6">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize"
      (pageChange)="refreshCountries()">
    </ngb-pagination>

    <select class="form-select " style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshCountries()">
      <option [ngValue]="2" [selected]="pageSize === 2">2 items par page</option>
      <option [ngValue]="4" [selected]="pageSize === 4">4 items per page</option>
      <option [ngValue]="6" [selected]="pageSize === 6">6 items per page</option>
    </select>
  </div>
  
  <hr />
  <div class="contenent-center">
    <button *ngIf="!abonnementForm" class="btn btn-success" (click)="ajouter()">Ajouter un Abonnement</button>
  </div>
  
  <div *ngIf="abonnementForm">
    <sost-form-card [formGroup]="abonnementForm" [title]="editing ? 'Modifier abonnement' : 'ajouter un abonnement'"
      [ok-label]="editing ? 'Modifier' : 'Ajouter'" [cancellable]="true" (ok)="ajouterOuModifier()"
      (cancel)="stopAjouterOuModifier()">
      <sost-form-input id="pseudo" label="pseudo" formControlName="pseudo" [formControl]="pseudoCtrl"
        message-when-not-valid="le pseudo est obligatoire" />
      <sost-form-input id="age" label="age" formControlName="age" [formControl]="ageCtrl"
        message-when-not-valid=" l'age est inférieur à 100" />
      <sost-form-input id="espece" label="espece" formArrayName="espece" [formControl]="especeCtrl"
        message-when-not-valid="l'espece est obligatoire" />
      <sost-form-input id="ville" label="ville" formControlName="ville" [formControl]="villeCtrl"
        message-when-not-valid="la ville est obligatoire" />
      <sost-form-input id="animal_id" label="animal_id" formControlName="animal_id" [formControl]="animalCtrl"
        message-when-not-valid="L'id de l'animal ville est obligatoire" />
    </sost-form-card>
  </div>
  
  <hr />

</body>
</html>





