<div *ngIf="!authOk" class="container">
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center p-2 my-4 border-top"
    >
      <p class="col-md-4 mb-0 text-body-secondary">© 2023 Stravacat, Inc.</p>

      <a
        href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <img
          src="assets\images\logo_stravacat.png"
          alt="Stravacat"
          height="50"
        />
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="inscription">S'inscrire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="connexion">Se connecter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="apropos">A propos</a>
        </li>
      </ul>
    </footer>
  </div>

  <div *ngIf="authOk" class="container">
    <footer
      class="d-flex flex-wrap justify-content-between align-items-center p-2 my-4 border-top"
    >
      <p class="col-md-4 mb-0 text-body-secondary">© 2023 Stravacat, Inc.</p>

      <a
        href="/"
        class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none"
      >
        <img
          src="assets\images\logo_stravacat.png"
          alt="Stravacat"
          height="50"
        />
      </a>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a class="nav-link" href="profile">Mon profil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="abonnes">Mes amis</a>
        </li>        
        <li class="nav-item">
          <a (click)="logout()" class="nav-link" href="accueil">Déconnexion</a>
        </li>
      </ul>
    </footer>
  </div>