<div *ngIf="loaded" class="container text-center">
  <!-- <c:if test=" failed ">
        <div class="alert alert-danger">
            <p>message</p>
            <ul>
                <c:forEach var="err" items=" erreurs.allErrors ">
                    <li> err.objectName   err.defaultMessage </li>
                </c:forEach>
            </ul>
        </div>
    </c:if>
    <c:if test=" success ">
        <div class="alert alert-success">
            <p>message</p>
        </div>
    </c:if> -->
  <div class="row m-5 align-items-center justify-content-around">
    <div class="col">
      <a href="modifierphotoprofil.html">
        <img
          class="border border-primary border-5 rounded-4"
          src="assets\images\example_profile_picture.jpg"
          alt="Photo du profil"
          height="150"
          style="border-radius: 10%"
          ngbTooltip="Modifier mon avatar"
      /></a>
    </div>
    <div class="col">
      <h4>
        Meow 👋 ! Je m'appelle {{animal.pseudo}} et je suis un {{animal.espece}} de
        {{animal.age}} ans. J'habite à {{animal.ville.nom}} !
      </h4>
    </div>
    <div class="col" style="line-height: 1">
      <a
        href="#"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        style="color: grey; font-size: small; text-decoration: underline"
        >Modifier ces<br />informations</a
      >
      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <form
          method="post"
          class="modal-dialog"
          [formGroup]="userForm"
          (ngSubmit)="doOk()"
        >
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">
                Modifier mes informations
              </h1>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <div class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
                <p>
                  Remplis les champs que tu souhaites modifier, puis clique sur Enregistrer 😸
                </p>
                <app-input
                  id="pseudo"
                  type="text"
                  label="Ton pseudo"
                  formControlName="pseudo"
                  [formControl]="pseudoCtrl"
                  message-when-not-valid="Le pseudo est obligatoire"
                ></app-input>
                <app-input
                  id="email"
                  type="email"
                  label="Email"
                  formControlName="email"
                  [formControl]="emailCtrl"
                  message-when-not-valid="L'adresse email est obligatoire"
                ></app-input>
                <app-input
                  id="password"
                  type="password"
                  label="Mot de passe"
                  formControlName="password"
                  [formControl]="passwordCtrl"
                  message-when-not-valid="Le mot de passe est obligatoire"
                ></app-input>
                <app-input
                  id="age"
                  type="number"
                  label="Âge"
                  formControlName="age"
                  [formControl]="ageCtrl"
                  message-when-not-valid="L'âge est obligatoire"
                ></app-input>
                <app-input
                  id="espece"
                  type="text"
                  label="Espèce"
                  formControlName="espece"
                  [formControl]="especeCtrl"
                  message-when-not-valid="L'espèce est obligatoire"
                ></app-input>
                <app-input
                  id="ville"
                  type="text"
                  label="Ville"
                  formControlName="ville"
                  [formControl]="villeCtrl"
                  message-when-not-valid="La ville est obligatoire"
                ></app-input>
              </div>
            </div>
            <div class="modal-footer justify-content-between">
              <button (click)="supprimer()" type="button" class="btn btn-danger" data-bs-dismiss="modal"
              >
                Supprimer mon compte
              </button>
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Annuler
              </button>
              <button (click)="modifier()"
                type="submit"
                class="btn btn-primary"
                data-bs-dismiss="modal"
                id="liveToastBtn"
              >
                Enregistrer
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="row mb-5 align-items-center justify-content-around">
    <div class="col">
      <div class="card" style="height: 120px">
        <div class="card-header">
          <strong>Rechercher une actualité</strong>
        </div>
        <div class="card-body">
          <div class="input-group flex-nowrap">
            <span class="input-group-text" id="addon-wrapping"
              ><svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-search text-primary"
                viewBox="0 0 16 16"
              >
                <path
                  d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
                /></svg></span>
            <input
              type="text"
              class="form-control"
              placeholder="Rechercher..."
              aria-label="Rechercher"
              aria-describedby="addon-wrapping"
            />
          </div>
        </div>
      </div>
      <div class="card" style="height: 260px; margin-top: 20px">
        <div class="card-header">
          <strong>Amis en commun</strong>
        </div>
        <div class="card-body carousel slide" id="carouselExample">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row mb-3 justify-content-around">
                <img
                  class="border border-secondary-subtle border-3 rounded-4 px-0"
                  ngbTooltip="Michel"
                  src="assets\images\profile_picture_index_1.png"
                  style="height: 80px; width: 80px; object-fit: cover"
                  alt="..."
                />
                <img
                  class="border border-secondary-subtle border-3 rounded-4 px-0"
                  ngbTooltip="Thomas"
                  src="assets\images\profile_picture_index_2.png"
                  style="height: 80px; width: 80px; object-fit: cover"
                  alt="..."
                />
                <img
                  class="border border-secondary-subtle border-3 rounded-4 px-0"
                  ngbTooltip="Sarah"
                  src="assets\images\profile_picture_index_3.png"
                  style="height: 80px; width: 80px; object-fit: cover"
                  alt="..."
                />
              </div>
              <div class="row mb-3 justify-content-around">
                <img
                  class="border border-secondary-subtle border-3 rounded-4 px-0"
                  ngbTooltip="Grisette"
                  src="assets\images\profile_picture_index_4.png"
                  style="height: 80px; width: 80px; object-fit: cover"
                  alt="..."
                />
                <img
                  class="border border-secondary-subtle border-3 rounded-4 px-0"
                  ngbTooltip="Doug"
                  src="assets\images\profile_picture_index_5.png"
                  style="height: 80px; width: 80px; object-fit: cover"
                  alt="..."
                />
                <img
                  class="border border-secondary-subtle border-3 rounded-4 px-0"
                  ngbTooltip="Micheline"
                  src="assets\images\profile_picture_index_6.png"
                  style="height: 80px; width: 80px; object-fit: cover"
                  alt="..."
                />
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row mb-3 justify-content-around">
              <img
                class="border border-secondary-subtle border-3 rounded-4 px-0"
                ngbTooltip="Tito"
                src="assets\images\profile_picture_index_1.png"
                style="height: 80px; width: 80px; object-fit: cover"
                alt="..."
              />
              <img
                class="border border-secondary-subtle border-3 rounded-4 px-0"
                ngbTooltip="Samba"
                src="assets\images\profile_picture_index_2.png"
                style="height: 80px; width: 80px; object-fit: cover"
                alt="..."
              />
              <img
                class="border border-secondary-subtle border-3 rounded-4 px-0"
                ngbTooltip="Minouche"
                src="assets\images\profile_picture_index_3.png"
                style="height: 80px; width: 80px; object-fit: cover"
                alt="..."
              />
            </div>
            <div class="row mb-3 justify-content-around">
              <img
                class="border border-secondary-subtle border-3 rounded-4 px-0"
                ngbTooltip="Le rouquin"
                src="assets\images\profile_picture_index_4.png"
                style="height: 80px; width: 80px; object-fit: cover"
                alt="..."
              />
              <img
                class="border border-secondary-subtle border-3 rounded-4 px-0"
                ngbTooltip="Charabia"
                src="assets\images\profile_picture_index_5.png"
                style="height: 80px; width: 80px; object-fit: cover"
                alt="..."
              />
              <img
                class="border border-secondary-subtle border-3 rounded-4 px-0"
                ngbTooltip="Chatofort"
                src="assets\images\profile_picture_index_6.png"
                style="height: 80px; width: 80px; object-fit: cover"
                alt="..."
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExample"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="height: 400px">
        <div class="card-header">
          <strong>Mon fil d'actu </strong
          ><a href=""
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-arrow-clockwise"
            >
              <path
                fill-rule="evenodd"
                d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"
              />
              <path
                d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"
/></svg></a>
        </div>
        <div class="card-body" style="height: 320px; overflow-y: scroll">
          <div class="card mb-3">
            <div class="card-header">
              <strong>13/04/2023 13:37</strong><br />Le vieux port, Marseille
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                amet quae neque maxime voluptatum explicabo dignissimos beatae
                dicta repudiandae aspernatur ducimus, at culpa ex voluptatibus
                dolorum error ut exercitationem deserunt.
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <strong>10/04/2023 13:37</strong><br />Ecusson, Montpellier
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                amet quae neque maxime voluptatum explicabo dignissimos beatae
                dicta repudiandae aspernatur ducimus, at culpa ex voluptatibus
                dolorum error ut exercitationem deserunt.
              </p>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <strong>09/09/2022 13:37</strong><br />Le marais, Paris
            </div>
            <div class="card-body">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam
                amet quae neque maxime voluptatum explicabo dignissimos beatae
                dicta repudiandae aspernatur ducimus, at culpa ex voluptatibus
                dolorum error ut exercitationem deserunt.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card m-1" style="height: 400px">
        <div class="card-header">
          <strong>Mes derniers parcours</strong>
          <a href=""
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-caret-left"
            >
              <path
                d="M10 12.796V3.204L4.519 8 10 12.796zm-.659.753-5.48-4.796a1 1 0 0 1 0-1.506l5.48-4.796A1 1 0 0 1 11 3.204v9.592a1 1 0 0 1-1.659.753z"
              ></path></svg></a>
          <a href="">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              fill="currentColor"
              class="bi bi-caret-right"
            >
              <path
                d="M6 12.796V3.204L11.481 8 6 12.796zm.659.753 5.48-4.796a1 1 0 0 0 0-1.506L6.66 2.451C6.011 1.885 5 2.345 5 3.204v9.592a1 1 0 0 0 1.659.753z"
              ></path>
            </svg>
          </a>
        </div>
        <div class="card-body">
          <app-map></app-map>
        </div>
      </div>
    </div>
  </div>
</div>
