<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      >STRAVACAT
      <div class="spinner-border spinner-border-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
      <div class="spinner-grow spinner-grow-sm" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </a>
    <a class="navbar-brand" href="#">
      <img src="assets\images\logo_stravacat.png" height="70" width="126" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="\anoussak\actualites.html"
            >Actualités</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="\leo\profile.html">Profil</a>
        </li>
        <li>
          <a class="nav-link" href="\missipssa\abonnements\abonnements.html"
            >Espace abonnements</a
          >
        </li>
        <li>
          <a class="nav-link" href="\missipssa\abonnes\abonnes.html"
            >Espace abonnés</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<div style="width:50rem;" class="w-100">
  <img src="assets\images\logo_stravacat.png" class="w-100 animate__animated animate__backInDown centrev1" style="width:fit-content"/>
</div>

<div style="width: fit-content;" class="container centre">
  <h3> Enregistrez. Partagez. Retrouvez vos animaux !</h3>
</div>
<br>
<div style="width: fit-content;" class="container centre">
  <h5>
    Espace de connexion
  </h5>
</div>
<br>
<div style="width: fit-content;" class="container centre">
  <h6>

    Sur Stravacat, partagez vos moments avec vos animaux, vos ballades, vos
    retrouvailles, et vos plus belles réussites !

  </h6>
</div>
<br>
<br>
<div>

  <!-- <div>
      <a href="">S'inscrire avec Facebook</a>
    </div>
    <div>
      <a href="">S'inscire avec son compte Google</a>
    </div>
    <div>
      <a href="">S'inscire avec son adresse mail</a>
    </div>
   -->
</div>
<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
        aria-expanded="true" aria-controls="collapseOne">
        Pourquoi partager votre expérience avec nous ?
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>🌟 Découvrez StravaCat - Le réseau social des passionnés de balades 🌟</strong>
        <div>
          Vous aimez explorer de nouveaux horizons, parcourir des sentiers pittoresques et partager vos aventures en
          plein air ? Alors ne cherchez plus ! StravaCat est fait pour vous.
        </div>
        <br>
        <div><strong>
            ✨ Qu'est-ce que StravaCat ? ✨
          </strong></div>
        <div>
          StravaCat est une plateforme communautaire conçue spécialement pour les amateurs de balades, de randonnées et
          de toutes les activités en plein air. C'est l'endroit idéal pour partager vos itinéraires préférés, découvrir
          de nouvelles pistes, et rencontrer d'autres animaux passionnés qui partagent vos intérêts.
        </div>
        <br>
        <div><strong>
            🗺️ Explorez de nouveaux horizons 🗺️
          </strong></div>
        <div>
          Avec StravaCat, vous pouvez découvrir des itinéraires et des sentiers magnifiques partagés par d'autres
          animaux de la communauté. Que vous soyez à la recherche de balades tranquilles dans la nature, de randonnées
          exigeantes en montagne ou de pistes cyclables panoramiques, vous trouverez votre bonheur sur StravaCat.
        </div>
        <br>
        <div><strong>
            📸 Partagez vos plus belles balades 📸
          </strong></div>
        <div>
          Capturez les moments magiques de vos balades grâce aux fonctionnalités de partage de photos et de vidéos de
          StravaCat. Partagez vos paysages préférés, vos rencontres avec la faune locale, ou simplement les sourires de
          satisfaction après une belle randonnée. Inspirez les autres animaux de la communauté et laissez vos traces
          dans le monde virtuel de StravaCat.
        </div>
        <br>
        <div><strong>
            👥 Rejoignez une communauté passionnée 👥
          </strong></div>
        <div>
          StravaCat est bien plus qu'une simple plateforme de partage. C'est une communauté d'animaux qui partagent la
          même passion pour les balades et les activités en plein air. Rencontrez de nouveaux amis, échangez des
          conseils, organisez des sorties en groupe et défiez-vous mutuellement pour atteindre de nouveaux sommets.
          StravaCat vous connecte avec des esprits aventureux partout dans le monde.
        </div>
        <br>
        <div><strong>
            🏆 Atteignez vos objectifs personnels 🏆
          </strong></div>
        <div>
          Que vous souhaitiez améliorer vos performances, rester en forme ou simplement vous amuser en plein air,
          StravaCat vous accompagne dans la réalisation de vos objectifs personnels. Enregistrez vos activités, suivez
          vos progrès, et laissez-vous motiver par la communauté pour repousser vos limites. Avec StravaCat, chaque
          balade devient une occasion de grandir et d'accomplir de grandes choses.
        </div>
        <br>
        <div><strong>
            📲 Inscrivez-vous dès maintenant ! 📲
          </strong></div>

      </div>
    </div>
  </div>
  <div class="accordion-item align-items-center">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"
        aria-expanded="false" aria-controls="collapseThree">
        Retour d'expérience
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body d-flex flex-column align-items-center">

        <div class="card" style="width: 20rem;">
            <img src="assets\images\profile_picture_index_4.png" class="card-img-top" alt="ChatDuTiéquard" />
            <div class="card-body">
              <h5 class="card-title text-center">ChatDuTiéquard</h5>
              <p class="card-text">
                J'adore dormir c'est très important, car ça me permet d'être en
                forme pour chasser toutes les nuits ! Je peux enfin partager
                toutes mes promenades nocturnes.
              </p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item"><strong>172km</strong> parcourus</li>
              <li class="list-group-item">
                <strong>213</strong> personnes découvertes
              </li>
              <li class="list-group-item"><strong>56</strong> publications</li>
            </ul>
            <div class="card-body text-center">
              <a href="#" class="card-link">Voir son profil</a>
              <a href="#" class="card-link">Demande d'amis</a>
            </div>

        </div>
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"
        aria-expanded="false" aria-controls="collapseTwo">
        Nos créateurs
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body d-flex flex-column align-items-center">
        <div id="carouselExampleCaptions" class="carousel slide  ">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"
              aria-label="Slide 4"></button>
          </div>
          <div class="carousel-inner " style="width: 30rem;" >
            <div class="carousel-item active  ">
              <img src="assets\images\profile_picture_index_7.png" class=" d-block w-100" alt="Image" />
              <div class="carousel-caption d-none d-md-block">
                <h5>Missipssa BENCHABA</h5>
                <p>
                  Agence Sophia Sky

                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets\images\profile_picture_index_12.png" class="d-block w-100" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Leo BRICOTTE</h5>
                <p>
                  Agence Languedoc Roussillon : Montpellier
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets\images\profile_picture_index_8.png" class="d-block w-100" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Anoussak HANVICHID</h5>
                <p>
                  Agence Languedoc Roussillon : Montpellier
                </p>
              </div>
            </div>
            <div class="carousel-item">
              <img src="assets\images\profile_picture_index_5.png" class="d-block w-100" alt="..." />
              <div class="carousel-caption d-none d-md-block">
                <h5>Ekaterina YATCHENKO</h5>
                <p>
                  Agence Lyon Limonest
                </p>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="background">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>