


  .custom-section {
    background-color: #f2cd8dd8; /* Marron clair - tu peux ajuster cette valeur selon tes préférences */
    color: inherit;

  };
  .table-spacing td,
  .table-spacing th {
    padding: 8px; /* Ajuste la valeur du padding selon tes préférences */
  };

  .center-button {
    text-align: center;
    margin-top: 20px; /* Ajuste la marge supérieure selon tes besoins */
  };