<p>Liste des abonnés</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>Age</th>
      <th>Espèce</th>
      <th>Ville</th>
      <th>animal</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let abonne of abonne$ | async">
      <td>{{ abonne.pseudo }}</td>
      <td>{{ abonne.age }} </td>
      <td>{{ abonne.espece }}</td>
      <td>{{ abonne.ville }}</td>
      <td>{{ abonne.animal }}</td>
      <td>
        <button (click)="modifier(abonne)" class="btn btn-outline-warning">Modifier</button>
        <button (click)="supprimer(abonne)" class="btn btn-outline-danger ms-2">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>


<button *ngIf="!abonneForm" class="btn btn-success" (click)="ajouter()">Ajouter un Abonné</button>

<div *ngIf="abonneForm">
  <sost-form-card [formGroup]="abonneForm" [title]="editing ? 'Modifier abonne' : 'ajouter un abonne'"
    [ok-label]="editing ? 'Modifier' : 'Ajouter'" [cancellable]="true" (ok)="ajouterOuModifier()"
    (cancel)="stopAjouterOuModifier()">

    <sost-form-input id="pseudo" label="pseudo" formControlName="pseudo" [formControl]="pseudoCtrl"
      message-when-not-valid="le pseudo est obligatoire" />

    <sost-form-input id="age" label="age" formControlName="age" [formControl]="ageCtrl"
      message-when-not-valid=" l'age est obligatoire" />

    <sost-form-input id="espece" label="espece" formArrayName="espece" [formControl]="especeCtrl"
      message-when-not-valid="l'espece est obligatoire" />

    <sost-form-input id="ville" label="ville" formControlName="espece" [formControl]="villeCtrl"
      message-when-not-valid="la ville est obligatoire" />

    <sost-form-input id="animal" label="animal" formControlName="animal" [formControl]="animalCtrl"
      message-when-not-valid="l animal est onligatoire" />

  </sost-form-card>
  <hr />
</div>
  