
<!-- à mettre sous forme de card -->

  <div class="col">
    <div class="card" style="height: 400px">

      <div class="card-header">
        <strong>Fil d'actu</strong>

        <a href="actualite" id="title" >
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
          </svg>
        </a>

      </div>

      <div class="card-body" style="height: 320px; overflow-y: scroll">
        <div class="card mb-3" *ngFor="let actualite of actualites$ | async">
          <div class="card-header">
            <img
                class="border border-secondary-subtle border-3 rounded-4 px-0"
                ngbTooltip="Samba"
                src="assets\images\profile_picture_index_2.png"
                style="height: 40px; width: 40px; object-fit: cover"
                alt="..."
            />
            <strong>{{ actualite.animal.pseudo.toUpperCase() }}</strong>, {{ actualite.actu_timestamp }}
            <span> à {{ actualite.ville.nom }}</span>
          </div>
          <div class="card-body">
            <p>
              {{ actualite.actu_description }}
            </p>
          </div>
        </div>
      </div>
      
    </div>
  </div>